.navbar {
    background-color: #f0f0f0 !important;
  }

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-brand-container img {
    height: 45px;
    margin-right: 10px;
}

.navbar-brand-text {
    font-size: 23px;
    /* font-size: 1rem; */
}

.navbar-nav .nav-link {
    font-size: 20px; /* Ajusta el tamaño del texto del menú */
}

.bienvenidos-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
  }

  .producto-card {
    border: none; /* Sin borde */
    margin: 20px 0;
  }
/*

@media (max-width: 768px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin-left: 10px;
    }
}
*/